$max-tab-count: 5;

.tab {
    display: none;

    @for $i from 1 through $max-tab-count {
        &amp;

        :checked:nth-of-type(#{$i})~.tab__content:nth-of-type(#{$i}) {
            opacity: 1;
            transition: 0.5s opacity ease-in, 0.8s transform ease;
            position: relative;
            top: 0;
            z-index: 100;
            transform: translateY(0px);
            text-shadow: 0 0 0;
        }
    }
}